# Compiled Object files
*.o
*.obj
obj/

# Fortran module files
*.mod
mod/

# Executables
*.exe
*.out
bin/

# Emacs
*~
\#*#

# Git 
*.~*~

#----------------
# programs output
#----------------

# sys
fname*.in

# io
svp.out

# make_svp
svp.in

# interrupt
state

# newunit_test
test
test1
test2
test3
test4
