#----------------
# Compiled files
#----------------

# Compiled Object files
**/obj
*.o
*.obj

# Fortran module files
**/mod
*.mod

# Executables
**/bin
*.exe
*.out
*.x
*.xc

#----------------
# Backups
#----------------

# Emacs
*~
\#*#

# Fortran I/O files
fort.?

# Git
*.~*~
*.*~Stashed*

#----------------
# programs output
#----------------

# sys
fname*.in

# io
svp.out

# make_svp
svp.in

# interrupt
state

# newunit_test
test
test1
test2
test3
test4
